@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #ffffff;
    background: rgb(6, 6, 6);
    background: -moz-linear-gradient(95deg, rgba(6, 6, 6, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(95deg, rgba(6, 6, 6, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(95deg, rgba(6, 6, 6, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060606", endColorstr="#000000", GradientType=1);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

:root {
    --text-size-medium: 1.6rem;
}

.block__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    font-size: var(--text-size-medium);
    line-height: 150%;
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}


.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__nav {
    font-size: var(--text-size-medium);
    line-height: 150%;
}
.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}
.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}



.main-display {
    padding-top: 27rem;
}
.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 22.8rem;
}
.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;
}
.main-display__button {
    font-weight: 700;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
}
.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
}
.timer__item:not(:last-child) {
    margin-right: 3rem;
}
.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}
.timer__text {
    font-size: var(--text-size-medium);
    line-height: 140%;
    opacity: .4;
}
.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}
.work__wrap {
    display: flex;
}
.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}
.work__text {
    max-width: 53.6rem;
    padding-top: 6.9rem;
}
.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}
.work__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
}


.process {
    margin-bottom: 20rem;
    position: relative;
}
.process .process__img {
    transform: rotate(45deg);
}
.process__img {
    width: 9rem;
    height: 4.4rem;
    margin-right: 2rem;
}
.process__header {
    padding-top: 1rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}
.process__title {
    display: flex;
    margin-bottom: 4.9rem;
}
.process__description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: .5;
}


.process__columns {
    display: flex;
}
.process__columns::after {
    content: "";
    display: block;
    width: 130rem;
    height: .2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.process__item:not(:last-child) {
    margin-right: 1.8rem;
}
.process__work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}
.process__text {
    font-size: 1.4rem;
    line-height: 160%;
    opacity: .5;
}

.command {
    padding-bottom: 20rem;
}
.command .process__title {
    margin-bottom: 11.3rem;
}
.command__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 11rem;
}
.command__img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}
.command__name {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
}
.command__professional {
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: .8;
    margin-bottom: 3rem;
}
.command__link {
    font-size: var(--text-size-medium);
    line-height: 150%;
    border: .1rem solid #FFFFFF;
}


.assembly {
    margin-bottom: 24.4rem;
}
.assembly__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 3rem;
}
.assembly__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: .5;
    margin-bottom: 4.52rem;
}
.assembly__button {
    font-weight: 700;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    margin-bottom: 4.08rem;
}
.assembly__socials {
    display: flex;
}
.assembly__item {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assembly__item:not(:last-child) {
    margin-right: 3rem;
}
.assembly__item img {
    width: 2.4rem;
    height: 2.4rem;
}


.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, .8);
    display: none;
}
.modal__inner {
    width: 66.3rem;
    padding: 9rem 1rem;
    background: #2c2c2c;
    text-align: center;
    position: relative;
}
.modal__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 1rem;
}
.modal__subheader {
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 2.8rem;
}
.modal__elements {
    margin: 0 auto 3.2rem;
    width: 45.4rem;
}
.modal__item {
    height: 4.4rem;
}
.modal__item:not(:last-child) {
    margin-bottom: 1.8rem;
}
.modal__input {
    padding: 1.1rem 3rem;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    font-size: 1.4rem;
    line-height: 160%;
    background-color: rgba(255, 255, 255, .25);
    color: #ffffff;
    opacity: 0.8;
}
.modal__input::placeholder {
    color: #ffffff;
    opacity: 0.8;
}
.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.noscroll {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}